<section class="flex flex-col gap-4 w-full py-4">
  <header class="flex flex-col gap-2 px-4">
    <span [saoAvatar]="'l'">
      <img [src]="'favicon.ico'" [alt]="'Logo'" />
    </span>
    <span class="text-b3 text-branding-foreground-50">
      Select a range of months
    </span>
    <div class="flex items-center justify-between w-full">
      <div class="flex items-center gap-2">
        <label saoControl class="w-full">
          <input
            type="month"
            saoInput
            [class.invalid]="controlFormGroup.controls.start.invalid"
            [placeholder]="'Start'"
            [formControl]="controlFormGroup.controls.start" />
        </label>
        <label saoControl class="w-full">
          <input
            type="month"
            saoInput
            [class.invalid]="controlFormGroup.controls.end.invalid"
            [placeholder]="'End'"
            [formControl]="controlFormGroup.controls.end" />
        </label>
      </div>
      <span class="text-b3 text-branding-success-500 font-bold">
        {{ saveMessage() }}
      </span>
    </div>
  </header>
  <main class="w-full overflow-auto flex flex-col gap-4">
    @if (validRange()) {
      @if (outOfRange()) {
        <p class="text-b3 text-branding-warning-500 px-4">
          WARNING: You are selecting a range that is out of current date
        </p>
      }
      <table saoTable [bordered]="true">
        <thead>
          <tr>
            <th>
              <label saoControl class="w-full">
                <input
                  type="text"
                  saoInput
                  [class.invalid]="controlFormGroup.controls.label.invalid"
                  [placeholder]="'Title'"
                  [formControl]="controlFormGroup.controls.label" />
              </label>
            </th>
            @for (month of months(); track month) {
              <th>
                <sao-table-header [text]="month | date: 'MMMM yyyy'" />
              </th>
            }
          </tr>
        </thead>
        <tbody>
          <!--Part render-->
          @for (
            part of [
              { label: Parts.Income, array: incomeFormArray },
              {
                label: Parts.Expenses,
                array: expenseFormArray,
              },
            ];
            track part.label;
            let partIndex = $index
          ) {
            <tr>
              <td
                class="capitalize text-branding-foreground-50 text-b1 font-bold"
                [colSpan]="months().length + 1">
                {{ part.label }}
              </td>
            </tr>

            <!--Group render-->
            @for (
              group of part.array | avnonFormArrayControl;
              track group.value;
              let groupIndex = $index
            ) {
              <tr>
                <td [colSpan]="months().length + 1">
                  <div class="flex items-center gap-2">
                    <span class="text-branding-foreground-50 text-b2 font-bold">
                      Group {{ group.controls.main.controls.label.value }}
                    </span>
                    <button
                      saoButton
                      [appearance]="'error'"
                      [size]="'xsmall'"
                      (click)="deleteGroup(part.array, groupIndex)">
                      <i [saoIcon]="'sao-icon-outlined-action-delete'"></i>
                    </button>
                  </div>
                </td>
              </tr>

              <!--Main Category render (contains label of category)-->
              <ng-container
                *ngTemplateOutlet="
                  categoryTemplate;
                  context: {
                    $implicit: group.controls.main.controls,
                    focus: partIndex === 0 && groupIndex === 0,
                    rowIndex: groupIndex,
                    categories: group.controls.categories,
                    main: true,
                  }
                " />

              <tr>
                <td
                  class="text-branding-foreground-50 text-b2 font-bold"
                  [colSpan]="months().length + 1">
                  Categories
                </td>
              </tr>

              <!--Categories render-->
              @for (
                category of group.controls.categories | avnonFormArrayControl;
                track category.value;
                let index = $index
              ) {
                <ng-container
                  *ngTemplateOutlet="
                    categoryTemplate;
                    context: {
                      $implicit: category.controls,
                      focus: false,
                      rowIndex: index,
                      categories: group.controls.categories,
                    }
                  " />
              }
              <!--Categories total render-->
              <ng-container
                *ngTemplateOutlet="
                  categoryTotalTemplate;
                  context: { $implicit: group }
                " />

              <tr>
                <td [colSpan]="months().length + 1">
                  <button
                    saoButton
                    (click)="addCategory(group.controls.categories)">
                    Add Category
                  </button>
                </td>
              </tr>
              <tr><td [colSpan]="months().length + 1"></td></tr>
            }
            <tr>
              <td [colSpan]="months().length + 1">
                <button saoButton (click)="addGroup(part.array, part.label)">
                  Add Group
                </button>
              </td>
            </tr>
            <tr><td [colSpan]="months().length + 1"></td></tr>
            <!--Groups total render-->
            <ng-container
              *ngTemplateOutlet="
                partTotalTemplate;
                context: { $implicit: part.array, label: part.label }
              " />
            <tr><td [colSpan]="months().length + 1"></td></tr>
          }
        </tbody>
        <tfoot>
          <!--Profit and Loss render-->
          <ng-container *ngTemplateOutlet="profitAndLossTemplate" />
          <!--Balances render-->
          <ng-container *ngTemplateOutlet="balancesTemplate" />
        </tfoot>
      </table>
    } @else {
      <p class="text-branding-error-500 text-b3 font-bold px-4">
        The range is invalid -
        {{ controlFormGroup.controls.start.value | date: 'MMMM yyyy' }} to
        {{ controlFormGroup.controls.end.value | date: 'MMMM yyyy' }}
      </p>
    }
  </main>
</section>

<ng-template
  #categoryTemplate
  let-controls
  let-focus="focus"
  let-rowIndex="rowIndex"
  let-categories="categories"
  let-main="main">
  <tr>
    <td>
      <label saoControl class="w-full">
        <input
          avnonHandler
          [focus]="focus"
          type="text"
          saoInput
          [class.invalid]="controls.label.invalid"
          [placeholder]="'Label'"
          [formControl]="controls.label"
          (enterEvent)="addCategory(categories, main ? -1 : rowIndex)" />
        @if (!main) {
          <button
            saoButton
            [appearance]="'error'"
            [size]="'small'"
            (click)="deleteCategory(categories, rowIndex)">
            <i [saoIcon]="'sao-icon-outlined-action-delete'"></i>
          </button>
        }
      </label>
    </td>
    @for (month of months(); track month; let index = $index) {
      <td>
        @if (controls.months.at(index); as formControl) {
          <label
            saoControl
            class="w-full"
            [cdkContextMenuTriggerFor]="contextMenuMonthTemplate"
            [cdkContextMenuTriggerData]="{
              $implicit: controls.months,
              index: index,
            }">
            <input
              (enterEvent)="addCategory(categories, main ? -1 : rowIndex)"
              avnonHandler
              type="text"
              saoInput
              mask="separator.2"
              thousandSeparator=","
              [class.invalid]="formControl.invalid"
              [isNumber]="true"
              [placeholder]="month | date: 'MMMM YYYY'"
              [formControl]="formControl" />
          </label>
        }
      </td>
    }
  </tr>
</ng-template>

<ng-template #categoryTotalTemplate let-group>
  @if (group.value | avnonCategoryTotal; as values) {
    <tr>
      <td>
        <span class="text-b2 text-branding-success-500 font-bold">
          Categories Total
        </span>
      </td>
      @for (month of months(); track month; let index = $index) {
        <td>
          <span
            class="text-b3 {{
              values[index] < 0
                ? 'text-branding-error-500'
                : 'text-branding-success-500'
            }}">
            {{ values[index] | number: '1.2-2' }}
          </span>
        </td>
      }
    </tr>
  }
</ng-template>

<ng-template #partTotalTemplate let-part let-label="label">
  @if (part.value | avnonPartTotal; as values) {
    <tr>
      <td>
        <span class="text-b2 text-branding-primary-500 font-bold capitalize">
          {{ label }} Total
        </span>
      </td>
      @for (month of months(); track month; let index = $index) {
        <td>
          <span
            class="text-b3 {{
              values[index] < 0
                ? 'text-branding-error-500'
                : 'text-branding-primary-500'
            }}">
            {{ values[index] | number: '1.2-2' }}
          </span>
        </td>
      }
    </tr>
  }
</ng-template>

<ng-template #profitAndLossTemplate>
  @if (
    [incomeFormArray.value, expenseFormArray.value] | avnonProfitAndLoss;
    as values
  ) {
    <ng-container
      *ngTemplateOutlet="
        footerRowTemplate;
        context: { $implicit: values, label: 'Profit and Loss' }
      " />
  }
</ng-template>

<ng-template #balancesTemplate>
  @if (
    [incomeFormArray.value, expenseFormArray.value] | avnonBalances;
    as values
  ) {
    <ng-container
      *ngTemplateOutlet="
        footerRowTemplate;
        context: { $implicit: values.opening, label: 'Opening Balance' }
      " />
    <ng-container
      *ngTemplateOutlet="
        footerRowTemplate;
        context: { $implicit: values.closing, label: 'Closing Balance' }
      " />
  }
</ng-template>

<ng-template #footerRowTemplate let-values let-label="label">
  <tr>
    <td>
      <span class="text-b2 text-branding-foreground-50 font-bold">
        {{ label }}
      </span>
    </td>
    @for (month of months(); track month; let index = $index) {
      <td>
        <span
          class="text-b3 {{
            values[index] < 0
              ? 'text-branding-error-500'
              : 'text-branding-foreground-50'
          }}">
          {{ values[index] | number: '1.2-2' }}
        </span>
      </td>
    }
  </tr>
</ng-template>

<ng-template #contextMenuMonthTemplate let-months let-index="index">
  <ul
    class="sao-select w-[300px]"
    [style.--sao-select-max-height]="'200px'"
    cdkMenu>
    <li cdkMenuItem (cdkMenuItemTriggered)="applyToAll(months, index)">
      <span>Apply to All</span>
    </li>
  </ul>
</ng-template>
